<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Application for Patient </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
    table {
        border-collapse: collapse;
        width: 400px;
        height: 100px;
    }
    table, th, td {
        border: 1px solid black;
        
    }
    th {
        text-align: left;
    }

    </style>
 
</head>
<body>
<div class="patientlist">
    <div th:if="${not #lists.isEmpty(patients)}">
        <h2 style="text-align:center">Patient List</h2>
        <table class="tabl" border="1" align="center">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
               
            </tr>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id.toHexString()}"></td>
                <td th:text="${patient.Name}"></td>
                <td th:text="${patient.Age}"></td>
                <td th:text="${patient.Gender}"></td>
                
            </tr>
        </table>
    </div>
    <div class="links">
        <div class="col-sm-3">
            <a href="/patient/new">New Patient</a>
        </div>
        <div class="col-sm-3">
            <a href="/patient/search">Search Patient</a>
        </div>
    </div>
</div>

</body>

</html>