
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Web Appilication for Patient</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="/css/patientform.css"/>

</head>
<body>
<h1>Patient Details</h1>
<div class="Patiententry">
  <form class="form-horizontal" th:object="${patientForm}" th:action="@{/patient}" method="post">
    
    <div class="row">
      <div class="col-25">
        <label for="lname">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Your name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Age</label>
      </div>
      <div class="col-75">
        <input type="text" id="age" name="age" placeholder="Your age..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Gender</label>
      </div>
      <div class="col-75">
        <input type="text" id="gender" name="gender" placeholder="Your gender..">
      </div>
    </div>
    <div class="row">
      <button type="button button1">Submit</button>
    </div>
    <div>
      <A HREF="search.html">Search Patient Details</A>
    </div>
  </form>
</div>
</body>
</html>