<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Web Appilication for Patient</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/patientform.css"/>
</head>
<body>
<div class="container">

    <h2 style="text-align:center">Patient Details</h2>
    <div>
        <form class="form-horizontal" th:action="@{/Search}" method="get">
        <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="Name" placeholder="Your name..">
      </div>
    </div>
    <div class="btn">
      <button>Submit</button>
    </div>
        </form>
    </div>

</div>

</body>
</html>